.cForm {
    margin: auto;
    width: 100%;
    background-color: rgb(250, 250, 250);
    padding: 20px;
}

.btn {
   margin: auto;
   width: 30%;
   margin-top: 40px;
   float: right;
   border-radius: 40px;
}

.form-group {
    margin: auto;
    width: 100%;
}

input.ng-invalid.ng-dirty {
    border: 1px solid red;
}

input.ng-valid.ng-dirty {
    border: 1px solid green;
}

.jumbotron {
    margin: auto;
    margin-top: 30px;
}